section(class="canvas front" id="front")

    div(class="content")

        h2 Gifford Nowland

        div

            p User Experience Harmonizer, Application Creator

            div

                a(href="https://linkedin.com/in/giffordnowland/") LinkedIn
                a(href="https://github.com/gnowland") Github
                a(href="https://medium.com/@gnowland") Medium
                a(href="https://twitter.com/gnowland") Twitter

    //- +nav-1("section-1")
