section(class="canvas front" id="front")

    div(class="content")

        h2 Gifford Nowland

        div

            h3 User Experience Curation, Application Creation
            
            p: small: i Let's design a world that's thoughtful, considered, and aesthetically pleasing.
                
            p I'm currently crafting a new portfolio website, but my resume is 
                a(href="mailto:hi@giffordnowland.com") available upon request
                | .

            div(style="padding-top: 2rem")

                a(href="https://linkedin.com/in/giffordnowland/") LinkedIn
                a(href="https://github.com/gnowland") GitHub
                a(href="https://medium.com/@gnowland") Medium
                a(href="https://twitter.com/gnowland") Twitter

    //- +nav-1("section-1")
